
<!DOCTYPE html>
<html lang="en">
</html>
<head>
  <meta charset="utf-8">
  <title>Brexitweet. Track the Brexit process through Twitter.</title>
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="./static/css/custom2.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,900|ABeeZee" rel="stylesheet"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta property="og:title" content="The First 100 Days">
  <meta property="og:description" content="We will track fulfillment of Donald Trump's promises, and update it daily during the initial 100 day period.">
  <meta property="og:image" content="http://www.track-trump.com/images/fb.png">
  <meta property="og:image:secure_url" content="https://www.track-trump.com/images/fb.png">
  <meta property="og:site_name" content="Track Trump">
  <link rel="image_src" href="/images/fb.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="/stylesheets/linearicons.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <!--if lt IE 7script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")-->
</head>
<body id="home">
  <header>
    <div class="container">
      <div class="image">
      </div>
      <h1>About BrexiTweet</h1>
      <div class="text-center">
        <a href="https://twitter.com/simonhunter28" target="_blank" class="twitter">
          <div class="fa fa-twitter">&nbsp;</div>
          Hit me up on Twitter @simonhunter28
        </a>
        <a href="{{ url_for('main') }}" class="about-link">
          Back to BrexiTweet
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <h3>Coming soon</h3>

  </div>
  <div class="share">Share on&nbsp;<a href="https://twitter.com/intent/tweet?source=webclient&amp;amp;text=Tracking+Brexit+on+twitter:+http://brexitweet.com" target="_new" class="fa fa-twitter"></a></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- <script src="/javascripts/script.js"></script> -->
  <script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */
  </script>
</body>
