<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
  <script src="./static/lib/js/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> -->


  <script>
  $(function() {
    $(".twitter-button").on("click",function(e) {
      var toggle_div_id = 'timeline_' + $(this).attr('id');
      e.preventDefault();
      $(".btn.active").each(function(i, obj) {
        $(this).toggleClass('active');
      });
      $(".twitter-content").hide();
      $('#'+toggle_div_id).show();
      $("#hide-twitter-content").show();
      $('html, body').animate({
        scrollTop: $('#'+toggle_div_id).offset().top
      }, 500);
    });
  });

  $(function() {
    $('#hide-twitter-content').on("click",function(e) {
      $(".twitter-content").hide();
      $(this).hide();
      $(".btn.active").each(function(i, obj) {
        $(this).toggleClass('active');
      });
    })
  })
  </script>

</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Brexit Twitter Analysis</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12">
        <div class="intro-copy">
          <h1>About</h1>
          <p>
            The purpose of this project is to chronicle the process of Brexit through an analysis of the discourse on Twitter. Every hour 100 tweets referencing Brexit are saved to a database, creating a dataset that is currently over 100 000 tweets in size and growing by 2400 every day. This will continue until the process of Brexit is complete and the UK has left the European Union.
          </p>
          <p>
            My intention is to keep building out the functionality of the site to enable you to explore the dataset through visualisations. I will be writing occasional blog posts on my findings on <a href="http://www.simonhunter.co/data" target="_blank">my site</a>.
          </p>
          <p>
            Any comments or requests, please hit me up: <a href="https://twitter.com/intent/tweet?screen_name=SimonHunter28"  data-show-count="false">@simonhunter28</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="row">

          <!-- Common Sources Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Most commonly retweeted sources
                <!-- <small class="chart-options pull-right">
                <label class="pull-left" style="margin-right: 10px;">
                Street:
                <select>
                <option>All blocks</option>
                <option>Howard</option>
                <option selected>Folsom</option>
                <option>Harrison</option>
              </select>
            </label>
            <label>
            Block:
            <select>
            <option>All blocks</option>
            <option>900</option>
            <option selected>800</option>
            <option>700</option>
            <option>500</option>
          </select>
        </label>
      </small> -->
    </div>
    <div class="chart-stage">
      <div id="sourceBarChart">
      </div>
    </div>

    <div class="chart-notes">
      <h4>Explore these sources:</h4>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          {% for source in topSources[-10:-5] %}
          <label class="btn twitter-button" id="button_{{source['source']}}">
            <input type="radio" name="options" autocomplete="off">{{ source['source'] }}
          </label>
          {% endfor %}
        </div>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          {% for source in topSources[-5:] %}
          <label class="btn twitter-button" id="button_{{source['source']}}">
            <input type="radio" name="options" autocomplete="off">{{ source['source'] }}
          </label>
          {% endfor %}
        </div>
      <div class="twitter-timeline" >
        {% for source in topSources %}
        {% set mystring = "https://twitter.com/" + source['source'] %}
        <div id="timeline_button_{{source['source']}}" class="twitter-content">
          <a class="twitter-timeline" data-lang="en" data-height="500" data-theme="light" data-link-color="#2B7BB9" href={{ mystring }}>Tweets by {{ source['source'] }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endfor %}
        <div class="center-wrapper">
          <button id="hide-twitter-content" class="btn btn-primary">Hide</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Common Languages Chart -->
<div class="col-sm-6">
  <div class="chart-wrapper">
    <div class="chart-title">
      Most common languages over time
    </div>
    <div class="chart-stage">
      <div id="timeLangChart"></div>
    </div>
  </div>
</div>
<!-- Common Languages Chart -->

</div>

<hr>
<p class="small text-muted">Built by <a href="http://simonhunter.co" target="_blank">Simon Hunter</a></p>

</div>

<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/d3.v3.5.5.min.js"></script>
<script src="./static/lib/js/dimple.v2.0.0.min.js"></script>
<!-- <script src="./static/lib/js/dimple.v2.1.2.min.js"></script> -->

<script>
var timeLangData = {{ timeLangData | safe }}
var sourceData = {{ sourceData | safe }}
</script>
<script src="./static/js/graphs.js"></script>




<script src="./static/lib/js/keen.min.js"></script>
<!-- <script src='./static/js/graphs.js' type='text/javascript'></script> -->
</body>
</html>
