<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css">

</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Brexit Twitter Analysis</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Most common languages
                <small class="chart-options pull-right">
                  <label class="pull-left" style="margin-right: 10px;">
                    Street:
                    <select>
                      <option>All blocks</option>
                      <option>Howard</option>
                      <option selected>Folsom</option>
                      <option>Harrison</option>
                    </select>
                  </label>
                  <label>
                    Block:
                    <select>
                      <option>All blocks</option>
                      <option>900</option>
                      <option selected>800</option>
                      <option>700</option>
                      <option>500</option>
                    </select>
                  </label>
                </small>
              </div>
              <div class="chart-stage">
                <div id="discreteBarChart">
                </div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Resources Type
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Poverty Level
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->

        </div>
      </div>

      <!-- Map -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Donations
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

    </div>

  </div>

  <hr>
  <p class="small text-muted">Built by <a href="http://simonhunter.co" target="_blank">Simon Hunter</a></p>

</div>

<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.0.0.min.js"></script>
<!-- <script src="./static/lib/js/dimple.v2.1.2.min.js"></script> -->


<script>

// standard dimple svg definition for a responsive chart
var svg = dimple.newSvg("#discreteBarChart", "100%", 500);
var data = {{ data | safe }}

// for customClassList see http://dimplejs.org/advanced_examples_viewer.html?id=advanced_bars_sketchy
var chart = new dimple.chart(svg, data);
var xAxis = chart.addCategoryAxis("x", "language");
var yAxis = chart.addMeasureAxis("y", "percentage");
var mySeries = chart.addSeries("language", dimple.plot.bar);
chart.customClassList = {
  axisLabel: 'axis',
  axisTitle: 'axis'
};

  // Draw without any axes
  // xAxis.hidden = true;
  yAxis.hidden = true;

  // Set small margins as there is going to be no axes displayed
  chart.setMargins(50, 50, 50, 50);

  // Define a custom color palette.  These colours are based on the excellent
  // set at http://flatuicolors.com/
  chart.defaultColors = [
      new dimple.color("#3498db", "#2980b9", 1), // blue
      new dimple.color("#e74c3c", "#c0392b", 1), // red
      new dimple.color("#2ecc71", "#27ae60", 1), // green
      new dimple.color("#9b59b6", "#8e44ad", 1), // purple
      new dimple.color("#e67e22", "#d35400", 1), // orange
      new dimple.color("#f1c40f", "#f39c12", 1), // yellow
      new dimple.color("#1abc9c", "#16a085", 1), // turquoise
      new dimple.color("#95a5a6", "#7f8c8d", 1)  // gray
  ];

  // Set some custom display elements for each series shape
  mySeries.afterDraw = function (s, d) {

    // I've defined the width in terms of the golden ratio as it seems like the sort
    // of thing a designer would do.
    var shape = d3.select(s),
        goldenRatio = 1.61803398875;

    // Add a rectangle to the bar giving a nice style.  The idea was borrowed
    // from sirocco's question here:
    // http://stackoverflow.com/questions/25044608/dimplejs-barchart-styling-columns
    svg.append("rect")
      .attr("x", shape.attr("x"))
      .attr("y", shape.attr("y"))
      .attr("height", shape.attr("height"))
      .attr("width", (0.5 * shape.attr("width")) / goldenRatio)
      .style("fill", shape.style("stroke"))
      .style("opacity", 1)
      .style("pointer-events", "none");

    // Draw without a border
    shape.attr("stroke", shape.attr("fill"));

  };

  // Override the standard tooltip behaviour
    mySeries.addEventHandler("mouseover", function (e){

      // Draw the text information in the top left corner
      svg.selectAll(".dimple-hover-text")
        .data([e.xValue, String(d3.format(",.f")(e.yValue)) + "%"])
          .enter()
          .append("text")
          .attr("class", "dimple-hover-text")
          .attr("x", chart._xPixels()  + chart._widthPixels() - 25)
          .attr("y", function (d, i) { return chart._yPixels() + 20 + i * 25; })
          .style("text-anchor", "end")
          .style("font-size", "20px")
          .style("fill", chart.getColor(e.xValue).fill)
          .style("pointer-events", "none")
          .text(function (d) { return d ; } );

      // Put a coloured bar next to the text for no good reason
      svg.append("rect")
        .attr("class", "dimple-hover-text")
        .attr("x", chart._xPixels() + chart._widthPixels() - 15)
        .attr("y", chart._yPixels())
        .attr("height", 60)
        .attr("width", 10)
        .style("fill", chart.getColor(e.xValue).fill)
        .style("opacity", 1)
        .style("pointer-events", "none");

    });

    // Clear the text on exit
    mySeries.addEventHandler("mouseleave", function (e) {
      svg.selectAll(".dimple-hover-text").remove();
    });


chart.draw();

// Add a method to draw the chart on resize of the window - currently not
// working with the custom bar chart styling
// window.onresize = function () {
//     // As of 1.1.0 the second parameter here allows you to draw
//     // without reprocessing data.  This saves a lot on performance
//     // when you know the data won't have changed.
//     chart.draw(0, true);
// };

</script>


<script src="./static/lib/js/keen.min.js"></script>
<!-- <script src='./static/js/graphs.js' type='text/javascript'></script> -->
</body>
</html>
