
<!DOCTYPE html>
<html lang="en">
</html>
<head>
  <meta charset="utf-8">
  <title>Brexitweet. Track the Brexit process through Twitter.</title>

  <meta property="og:title" content="BrexiTweet">
  <meta property="og:description" content="Chronicling the Brexit process through Twitter.">
  <meta property="og:image" content="../img/brexit-suitcase.png">
  <!-- <meta property="og:image:secure_url" content="https://www.track-trump.com/images/fb.png"> -->
  <meta property="og:site_name" content="BrexiTweet">
  <link rel="image_src" href="../img/brexit-suitcase.png">

  <link rel="stylesheet" href="./static/lib/css/bootstrap_v3.3.6.min.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="./static/css/custom2.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,900|ABeeZee" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/stylesheets/linearicons.css"> -->
  <!--if lt IE 7script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")-->
</head>
<body id="home">

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="uil-ripple-css" id="loadingDiv" style="margin:0 auto"><div></div><div></div></div>
          <div class="twitter-timeline"></div>
        </div>
        <div class="modal-footer" id="hide-twitter-content">
        </div>
      </div>
    </div>
  </div>

  <header>
    <div class="container">
      <div class="image">
      </div>
      <h1>The long divorce</h1>
      <p>
        On June 23rd 2016 the Britain voted to leave the European Union. The purpose of this project is to chronicle the process of Brexit through an analysis of the discourse on Twitter.
      </p>
      <div class="text-center">
        <a href="https://twitter.com/simonhunter28" target="_blank" class="twitter">
          <div class="fa fa-twitter">&nbsp;</div>
          Hit me up on Twitter @simonhunter28
        </a>
        <a href="{{ url_for('about') }}" class="about-link">
          About BrexiTweet
        </a>
      </div>
    </div>
  </header>

  <div class="container" id="accordion" role="tablist" aria-multiselectable="true">


    <section><i class="icon c1 icon-wall"></i>
      <div class="card">
      <div class="item list off collapsed" id="sources" data-toggle="collapse" data-parent="#accordion" href="#sourceBarChartStage" aria-expanded="false" aria-controls="sourceBarChartStage">
        <hgroup><h2 class="c1">
            Most vocal sources
        </h2></hgroup>
      </div>
      <div id="sourceBarChartStage" class="chart-stage collapse">
        <div class="text-center">
          <p>
            Click the data to see the Twitter stream.
          </p>
        </div>
        <div class="chart"  id="sourceBarChart">
        </div>
      </div>
    </div>
    </section>

    <section><i class="icon c3 icon-fan"></i>
      <div class="card">
      <div class="item list off collapsed" id="stringMatch"  data-toggle="collapse" data-parent="#accordion" href="#stringMatchStage" aria-expanded="false" aria-controls="stringMatchStage">
        <hgroup><h2 class="c3">
          The evolving focus
        </h2></hgroup>
      </div>
      <div id="stringMatchStage" class="chart-stage collapse">
        <p>
          Search the frequency at which certain keywords are being used in relation to Brexit.
        </p>
        <div class="chart-options">
          <form class="form-inline">
            Search term:
            <input class="text-area form-control mb-2 mr-sm-2 mb-sm-0" id="text-area-1" type=text size=10 name="string" placeholder="e.g. pound">
            <div class="btn-group" role="group" id="StringMatchBtnGroup">
              <button type="button" class="btn btn-default add-text-input">Add term</button>
              <button type="button" class="btn btn-default filterString"><strong>GO</strong></button>
            </div>
          </form>
          <div class="uil-ripple-css" id="stringMatchLoadingDiv"><div></div><div></div></div>
        </div>
        <div class="chart" id="timeStringMatchChart"></div>
      </div>
    </div>
    </section>

    <section><i class="icon c2 icon-ship2"></i>
      <div class="card">
      <div class="item list off collapsed" id="languages" data-toggle="collapse" data-parent="#accordion" href="#timeLangChartStage" aria-expanded="false" aria-controls="timeLangChartStage">
        <hgroup><h2 class="c2">
            European interest
        </h2></hgroup>
      </div>
      <div id="timeLangChartStage" class="chart-stage collapse">
        <div class="chart" id="timeLangChart"></div>
      </div>
    </div class="card">
    </section>

    <!-- <section><i class="icon c4"></i>
      <div class="card">
      <div class="item list off collapsed" id="sentiment" data-toggle="collapse" data-parent="#accordion" href="#sentimentChartStage" aria-expanded="false" aria-controls="sentimentChartStage">
        <hgroup><h2 class="c4">
            Sentiment
        </h2></hgroup>
      </div>
      <div id="sentimentChartStage" class="chart-stage collapse">
        <div class="chart" id="sentimentChart"></div>
        <div>
        <p>
          Tweets were analysed for sentiment, and given a score between 1 (very positive) and -1 (very negative).
          This plot shows the average sentiment of tweets in a given week.
          We see that, on average, tweets about Brexit are slightly positive, however there is no trend suggesting the general sentiment is improving or souring.
          <br>
          <small>Sentiment analysis performed using the <a href="https://textblob.readthedocs.io/en/dev/" target="_blank">TextBlob</a> library. </small>
        </p>
      </div>
      </div>
    </div class="card">
    </section> -->



</div>
<div class="share">Share on&nbsp;<a href="https://twitter.com/intent/tweet?source=webclient&amp;amp;text=Tracking+Brexit+on+twitter:+http://brexitweet.com" target="_new" class="fa fa-twitter"></a></div>
<div class="container">
  <div class="text-center">
    <a class="about-link" href="{{ url_for('about') }}">About <strong>Brexitweet</strong></a>
  </div>
</div>

<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap-3.3.7.min.js"></script>
<script src="./static/lib/js/d3.v3.5.5.min.js"></script>
<script src="./static/lib/js/dimple.v2.0.0.min.js"></script>

<script>
var timeLangData = {{ timeLangData | safe }}
var sourceData = {{ sourceData | safe }}
var sentimentData = {{ sentimentData | safe }}
</script>

<script src="./static/js/custom.js"></script>
<script src="./static/js/graphs.js"></script>
<script src="http://platform.twitter.com/widgets.js"</script>

</body>
